/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls {
	text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    background-color: #ffffff;
	color: #798d97;
	display: inline-block;
    border-radius: 3px;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	font-size: 24px;
    line-height: 26px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 10px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev i {
    margin-right: 2px;
}


.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 10px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	background-color: #00c7c0;
    color: #fff;
}

/* Styling Pagination*/

.owl-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #00c7c0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}